.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 { 
    grid-area: 1 / 1 / 4 / 4; 
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.div2 { 
    grid-area: 5 / 1 / 7 / 5; 
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;

}

.div3 {
    grid-area: 1 / 5 / 5 / 7; 
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
