/* your original CSS stays the same */

body{
    background-image: url("../../../lib/assets/food-ai-bkg.jpg");
    background-size: cover;
}

.login_div {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 80vh;
    background-color: rgb(5, 94, 93);
    border-radius: 5vh;
}

.email_login_field{
    width: 60vh;
    height: 8vh;
    margin-bottom: 5vh;
}

.password_login_field{
    width: 60vh;
    height: 8vh;
    margin-bottom: 5vh;
}

h1{
    color: wheat;
    font-size: 08vh;
    font-family: monospace;
}

button{
    width: 30vh;
    height: 08vh;
    background-color: rgb(251, 203, 161);
    border: none;
    border-radius: 2vh;
}

button:hover{
    background-color:  rgb(4, 46, 53);
    box-shadow: 10;
    border: 5;
    border-color: aliceblue;
}

/* ----------------------------------------- */
/*  Only these are NEW (toggle password CSS) */
/* ----------------------------------------- */

.password_wrapper {
    position: relative;
    width: 60vh;            /* same width as your input */
}

.toggle_password {
    position: absolute;
    right: 15px;            /* place inside input */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 2vh;
    color: rgb(80, 80, 80);
}

.toggle_password:hover {
    color: black;
}
